.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared design  */
.text-primary {
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.bg {
    background-color: #FFF8F3;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.header {
background: url("../images/developer.png"), url("../images/header_bg.png");
background-repeat: no-repeat;
background-position: top left, bottom right;
}

/* nav design  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 200px;
}
.nav-title {
    font-size:45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}


/* Banner style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0  200px;
}
.banner-content{
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight:600;
}
.banner-title {
    font-size: 60px;
    font-weight: 800;
}
.banner-profile-pic{
    max-width: 580px;
}

/* About section */

.about {
    height: 550px;
    margin: 80px 200px  ;
    padding: 90px 150px ;
}
.about-content {
     
}
.about-title {
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;

}
.about-text {
    font-size: 20px;
    line-height: 1.5;
    color: #474747;
    text-align: center;
}
.about-details {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* skills section */

.skills {
    margin: 80px 200px;
 
}
.skills-heading {
    padding:  20px 100px;
    text-align: center;
}
.skills-heading h2 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}
.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
   
}
.skill-card {
    width: 250px;
    height: 377px;
    background-color:#ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.skill-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.skill-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skill-card p {
    font-size: 16px;
    color: #474747;
    line-height: 1.5;
}

/* Resume */

.resume {
    margin: 80px 200px;
}
.resume-title {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}
.resume-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}
.Education,
.Experience {
    display: inline-block;
    gap: 20px;
}
.education-item,
.experience-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

.resume-btn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

/* Footer section  */
.footer{
    padding: 130px 230px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    
  
}
.footer-info {
    max-width: 50%;

}
.footer-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.footer-form-container h3{
    margin-bottom: 20px;
}

footer input[type="text"],
footer input[type="email"] ,textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.footer-copy{
    margin-top: 100px;
    text-align: center;
}